.App {
  display: flex;
}

.App-column {
  flex: 1;
  width: 50%;
  border: 1px solid lightgrey;
}

.App-validation {
  margin: 25px;
}

.App-success {
  color: green;
  font-weight: bold;
}

.App-error {
  color: red;
}
